:root {
  --bg-body: #fff;
  --main-color: #000;
  --body-bgi: url('../../images/backgroundBody.svg');
  --body-bg-pos: top center;
  --bg-header: #17191d1a;
  --header-links: #000;
  --border-mode-btn: 1px solid transparent;
  --bg-mode-btn: #fff;
  --bgi-menu-btn: url('../../images/menu-icon.svg');
  --pos-menu: translateY(-110%);
  --theme-icon: url('../../images/sun-icon.svg');
}

.dark {
  --bg-body: #111317;
  --body-bgi: url('../../images/backgroundBodyDark.svg');
  --body-bg-pos: top -450px center;
  --main-color: #fff;
  --bg-header: #17191db3;
  --header-links: #fff;
  --border-mode-btn: 1px solid #aaaaaa;
  --bgi-menu-btn: url('../../images/menu-icon-dark.svg');
  --bg-mode-btn: transparent;
  --theme-icon: url('../../images/moon-icon.svg');
}

.menu-open {
  --pos-menu: translateY(0);
}
