.news {
  padding: 41px 0 120px;
}

.news__inner {
  display: flex;
  justify-content: space-between;
}

.news__left {
  width: 100%;
  max-width: 1010px;
  img {
    border-radius: 20px;
  }
}

.news__right {
  width: 100%;
  max-width: 317px;
}

.news__left-content {
  margin-top: 41px;
  padding: 40px 40px 23px;
  background-color: var(--bg-services);
  border: var(--border-services);
  backdrop-filter: blur(1px);
  border-radius: 20px;

  h2 {
    margin: 0;
    font-family: 'Arial';
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    color: var(--main-color);
  }

  p {
    margin: 20px 0 25px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: var(--main-color);
  }
}

.news__left-bottom-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 23px;
  border-top: 1px solid #989898;

  time,
  a,
  button {
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 19px;
  }

  a {
    color: var(--services-text);
  }

  time {
    color: var(--news-color-time);
  }

  div {
    position: relative;
    &::before {
      position: absolute;
      top: -3px;
      width: 24px;
      height: 24px;
      background-image: var(--news-date-img);
      content: '';
    }
    time + time {
      margin-left: 10px;
    }

    time:nth-child(1) {
      margin-left: 34px;
    }
  }

  button {
    position: relative;
    font-family: 'Gilroy';
    color: var(--news-color-time);
    border: 0;
    background-color: transparent;
    cursor: pointer;

    &::before {
      position: absolute;
      left: -20px;
      top: 0;
      width: 20px;
      height: 20px;
      background-image: var(--news-share-img);
      background-repeat: no-repeat;
      background-position: center;
      content: '';
    }
  }
}

.news__card {
  background-color: var(--bg-services);
  border: var(--border-services);
  backdrop-filter: blur(1px);
  border-radius: 20px;

  img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  h3 {
    margin: 15px 20px 25px;
  }
}

.news__card + .news__card {
  margin-top: 30px;
}

@media only screen and (max-width: 1380px) {
  .news__left {
    width: 100%;
    max-width: 850px;

    img {
      width: 850px;
      height: auto;
    }

    .news__left-content {
      img {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1220px) {
  .news__left {
    width: 100%;
    max-width: 750px;

    img {
      width: 750px;
      height: auto;
    }

    .news__left-content {
      img {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1130px) {
  .news__left {
    width: 100%;
    max-width: 100%;

    img {
      width: 100%;
    }
  }

  .news__right {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .news {
    padding: 40px 0 80px;
    h2 {
      font-size: 20px;
      line-height: 24px;
    }

    p {
      font-size: 18px;
      line-height: 26px;
    }

    .news__left-content {
      padding: 20px;
    }

    .news__left-bottom-content {
      span {
        display: none;
      }
    }
  }
}
